<section data-ng-controller="HomeController">
	<div class="text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="J-Razzies" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
                Japan Golden Raspberry Awards
			</p>
		</div>
		<div class="row">
			<p>
                <a class="btn btn-info btn-lg" href="/#!/signin" data-ng-hide="authentication.user">Sign In</a>
                <a class="btn btn-info btn-lg" href="/#!/cinemas/create" data-ng-show="authentication.user">Vote</a>
			</p>
            <p>
            </p>
		</div>
	</div>
	<br>Japan Golden Raspberry Awards Team.
</section>
