<section data-ng-controller="CinemasController">
    <div class="page-header">
        <h1>New Cinema</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>

                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name"
                               required>
                    </div>
                    <label class="control-label">Rating</label>

                    <div class="controls">
                        <div ng-controller="RatingCtrl">
                            <rating data-ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)"
                                    on-leave="overStar = null" required></rating>
                            <span class="label"
                                  ng-class="{'label-warning': percent<3, 'label-info': percent>=3 && percent<7, 'label-success': percent>=7}"
                                  ng-show="overStar && !isReadonly">{{percent}}/10</span>
                        </div>
                    </div>
                    <label class="control-label" for="comment">Comment</label>

                    <div class="controls">
                        <textarea data-ng-model="comment" id="comment" class="form-control"
                                  rows="12" placeholder="Comment"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
