<section data-ng-controller="CinemasController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Cinema</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>

                    <div class="controls">
                        <input type="text" data-ng-model="cinema.name" id="name" class="form-control" placeholder="Name"
                               required>
                    </div>
                    <label class="control-label">Rating</label>

                    <div class="controls">
                        <div ng-controller="RatingCtrl">
                            <rating ng-model="cinema.rate" max="max" readonly="isReadonly"
                                    on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                            <span class="label"
                                  ng-class="{'label-warning': percent<3, 'label-info': percent>=3 && percent<7, 'label-success': percent>=7}"
                                  ng-show="overStar && !isReadonly">{{percent}}</span>

                        </div>
                    </div>
                    <label class="control-label" for="comment">Comment</label>

                    <div class="controls">
                        <textarea type="text" rows="12" data-ng-model="cinema.comment" id="comment" class="form-control"
                                  placeholder="Comment"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
